{% extends 'base.html.twig' %}
    {% block title %}A propos{% endblock %}
    {% block body %}
        {% include 'incs/background_header.html.twig' %}


            <h1 class="text-center my-5">Equipe de développement</h1>

        <div class="row justify-content-around mx-2">
            <div class="col-sm-12 col-lg-5">
                <div class="row jumbotron align-items-center">
                    <div class="col-md-3 text-center">
                        <div><img class="rounded" src="{{ asset("images/luffy.jpg") }}"></div>
                    </div>
                    <div class="col-md-9 text-center">
                        <h2>Gilles DA SILVA SANTOS</h2>
                        <p class="card-text mt-2">
                            - Intégration du template bootstrap <br>
                            - Création de la DB <br>
                            - Gestion de la recherche avec l'API "ALGOLIA" <br>
                            - Création de la page "A propos"
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-5">
                <div class="row jumbotron align-items-center">
                    <div class="col-md-3 text-center">
                        <div ><img class="rounded" src="{{ asset("images/laura.jpg") }}"></div>
                    </div>
                    <div class="col-md-9 text-center">
                        <h2>Laura LAMASSOURRE</h2>
                        <p class="card-text mt-2">
                            - Intégration du template bootstrap <br>
                            - Création de la l'administration à l'aide du bundle "Easy admin"<br>
                            - Création de la page "Contact"<br>
                            - Création de la page "Protection des données"<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
            <div class="row justify-content-around mx-2">
                <div class="col-sm-12 col-lg-5">
                    <div class="row jumbotron align-items-center">
                        <div class="col-md-3 text-center">
                            <div><img class="rounded" src="{{ asset("images/avatarYannY.png") }}"></div>
                        </div>
                        <div class="col-md-9 text-center">
                            <h2>Yann YVER</h2>
                            <p class="card-text mt-2">
                                - Intégration du template bootstrap <br>
                                - Création de la DB <br>
                                - Gestion de la recherche avec l'API "ALGOLIA" <br>
                                - Création de la page "A propos"
                            </p>
                         </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-5">
                    <div class="row jumbotron align-items-center">
                        <div class="col-md-3 text-center">
                            <img class="rounded" src="{{ asset("images/fred.jpg") }}">
                        </div>
                        <div class="col-md-9 text-center">
                            <h2>FRÉDÉRICK VU</h2>
                            <p class="card-text mt-2">
                                - Intégration du template bootstrap <br>
                                - Création de la l'administration à l'aide du bundle "Easy admin"<br>
                                - Création de la page "Contact"<br>
                                - Création de la page "Mentions légales"<br>
                            </p>
                         </div>
                    </div>
                </div>
            </div>
    {% endblock %}