{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="site-block-wrap">
    <div class="owl-carousel with-dots">
        <div class="site-blocks-cover overlay overlay-2" style="background-image: url({{ asset('images/hero_1.jpg') }});" data-aos="fade" id="home-section">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 mt-lg-5 text-center">
                        <h1 class="text-shadow">Buy &amp; Sell Property Here</h1>
                        <p class="mb-5 text-shadow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident vitae, aut inventore repellendus. Iusto, assumenda! </p>
                        <<a href="#" target="_blank" class="btn btn-primary px-5 py-3">Get Started</a></p>p>

                    </div>
                </div>
            </div>

        </div>

        <div class="site-blocks-cover overlay overlay-2" style="background-image: url({{ asset('images/hero_2.jpg') }});" data-aos="fade" id="home-section">


            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 mt-lg-5 text-center">
                        <h1 class="text-shadow">Find Your Perfect Property For Your Home</h1>
                        <p class="mb-5 text-shadow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quam doloribus reprehenderit dolore adipisci rerum?</p>
                        <p><a href="#" target="_blank" class="btn btn-primary px-5 py-3">Get Started</a></p>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}
