{% extends 'base.html.twig' %}

{% block title %}Protection des données{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col">
            <h1 class="text-center my-5">Politique de gestion des données personnelles</h1>

            <p>Soucieuse de la protection de la vie privée, Glyf Immo s’engage à assurer le meilleur niveau de protection des données à caractère personnel.<br>

                Dans le cadre de ses activités, Glyf Immo met à disposition de ses clients :<br>
                - un site d’annonces immobilières accessible à l’adresse www.glyimmo.fr<br>
                - un site d’annonces immobilières pour chaque agence du réseau<br>
                - des applications smartphone et tablettes<br>

                L’objet de cette page est de décrire la manière dont Glyf Immo prend soin des données à caractère personnel de ses clients et prospects.<br>

                Glyf Immo, en tant que Responsable de traitement, s’engage à respecter les dispositions du règlement (UE) n°2016/679 du 27 avril 2016 relatif à la protection des données à caractère personnel.</p>

            <h2 class="text-center">1. QUI COLLECTE LES DONNEES A CARACTERE PERSONNEL ? </h2>

             <p>La société qui collecte les données à caractère personnel sur les sites internet et met en œuvre les traitements de donnée est :<br>

                 Glyf Immo, Société par Actions Simplifiée au capital de 1 838 601 Euros, immatriculée au Registre du Commerce et des Sociétés d’Evry sous le numéro 339 510 695 dont le siège social est situé au 3 rue des Cevennes 91090 LISSES. </p>

            <h2 class="text-center">2. COMMENT UTILISONS-NOUS VOS DONNEES PERSONNELLES ? </h2>

             <p>Lorsque les clients utilisent ou interagissent avec Century 21 France, nous utilisons différentes technologies pour traiter les données personnelles que nous recueillons pour diverses raisons. Nous avons indiqué dans le tableau ci-dessous les raisons pour lesquelles nous traitons les données personnelles et les normes juridiques associées sur lesquelles nous nous basons pour traiter légalement les données personnelles :<br>

                 Description de la raison pour laquelle CENTURY 21 traite vos données personnelles (« objectif du traitement ») 	Base juridique de l’objectif du traitement
                 - Mise à disposition sur les sites internet CENTURY 21 d’un compte client 	- Intérêt légitime de CENTURY 21 pour vous authentifier et délivrer les informations appropriées
                 - Gestion de la relation client (téléphone / tchat / email) et des réclamations clients 	- Exécution du contrat passé entre un Client et CENTURY 21
                 - Intérêt légitime de CENTURY 21
                 - Gestion de la satisfaction client 	- Intérêt légitime de CENTURY 21 afin d’améliorer ses services
                 - Opérations de statistiques, d’analyse, de sélection et de segmentation des clients afin d’améliorer la connaissance des clients 	- Intérêt légitime de CENTURY 21
                 - Envoi de newsletters et d’alertes email à la demande de l’internaute 	- Consentement du Client
                 - Intérêt légitime
                 - Mesure de fréquentation des sites et applications mobiles 	- Consentement du Client
                 - Intérêt légitime de CENTURY 21
                 - Mise à disposition d’outils de partage sur les réseaux sociaux 	- Consentement du Client
                 - Mise en place de jeux concours et publicitaires 	- Intérêt légitime de CENTURY 21
                 - Partage d’informations avec les agences CENTURY 21 pour leur permettre de recontacter le client qui a demandé a être rappelé 	- Intérêt légitime de CENTURY 21
                 - Consentement du Client


                 Pour les traitements nécessitant le recueil du consentement, la personne concernée a la faculté de retirer son consentement en effectuant une demande comme indiqué à l’article « Quels sont les droits de nos clients sur les données ? </p>

            </div>

        </div>

    </div>

{% endblock %}