{% extends 'base.html.twig' %}

{% block title %}Protection des données{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col">
            <h1 class="text-center my-5">Politique de gestion des données personnelles</h1>

            <p>Soucieuse de la protection de la vie privée, GLYF IMMOBILIER s’engage à assurer le meilleur niveau de protection des données à caractère personnel.<br>

                Dans le cadre de ses activités, GLYF IMMOBILIER met à disposition de ses clients :<br>
                - un site d’annonces immobilières accessible à l’adresse www.glyimmo.fr<br>
                - un site d’annonces immobilières pour chaque agence du réseau<br>
                - des applications smartphone et tablettes<br>

                L’objet de cette page est de décrire la manière dont GLYF IMMOBILIER prend soin des données à caractère personnel de ses clients et prospects.<br>

                GLYF IMMOBILIER, en tant que Responsable de traitement, s’engage à respecter les dispositions du règlement (UE) n°2016/679 du 27 avril 2016 relatif à la protection des données à caractère personnel.</p>

            <h2 class="text-center my-5">1. QUI COLLECTE LES DONNEES A CARACTERE PERSONNEL ? </h2>

             <p>La société qui collecte les données à caractère personnel sur les sites internet et met en œuvre les traitements de donnée est :<br>

                 GLYF IMMOBILIER, Société par Actions Simplifiée au capital de 1 838 601 Euros, immatriculée au Registre du Commerce et des Sociétés d’Evry sous le numéro 339 510 695 dont le siège social est situé au 3 rue des Cevennes 91090 LISSES. </p>

            <h2 class="text-center my-5">2. COMMENT UTILISONS-NOUS VOS DONNEES PERSONNELLES ? </h2>

                <p>Lorsque les clients utilisent ou interagissent avec GLYF IMMOBILIER, nous utilisons différentes technologies pour traiter les données personnelles que nous recueillons pour diverses raisons. Nous avons indiqué dans le tableau ci-dessous les raisons pour lesquelles nous traitons les données personnelles et les normes juridiques associées sur lesquelles nous nous basons pour traiter légalement les données personnelles :<br></p>

                <h3 class="text-center my-5">Description de la raison pour laquelle GLYF IMMOBILIER traite vos données personnelles (« objectif du traitement »)</h3>
                <p>
                    - Mise à disposition sur les sites internet GLYF IMMOBILIER d’un compte client<br>
                    - Gestion de la relation client (téléphone / tchat / email) et des réclamations clients<br>
                    - Gestion de la relation client (téléphone / tchat / email) et des réclamations clients<br>
                    - Opérations de statistiques, d’analyse, de sélection et de segmentation des clients afin d’améliorer la connaissance des clients<br>
                    - Envoi de newsletters et d’alertes email à la demande de l’internaute<br>
                    - Mesure de fréquentation des sites et applications mobiles<br>
                    - Mise à disposition d’outils de partage sur les réseaux sociaux<br>
                    - Mise en place de jeux concours et publicitaires<br>
                    - Partage d’informations avec les agences GLYF IMMOBILIER pour leur permettre de recontacter le client qui a demandé a être rappelé
                </p>

                <h3 class="text-center my-5">Base juridique de l’objectif du traitement</h3>

                <p>
                    - Intérêt légitime de GLYF IMMOBILIER pour vous authentifier et délivrer les informations appropriées<br>
                    - Exécution du contrat passé entre un Client et GLYF IMMOBILIER
                    - Intérêt légitime de GLYF IMMOBILIER<br>
                    - Intérêt légitime de GLYF IMMOBILIER afin d’améliorer ses services<br>
                    - Intérêt légitime de GLYF IMMOBILIER<br>
                    - Consentement du Client<br>
                    - Intérêt légitime<br>
                    - Consentement du Client<br>
                    - Intérêt légitime de GLYF IMMOBILIER<br>
                    - Consentement du Client<br>
                    - Intérêt légitime de GLYF IMMOBILIER<br>
                    - Intérêt légitime de GLYF IMMOBILIER<br>
                    - Consentement du Client
                </p>

                 <p>Pour les traitements nécessitant le recueil du consentement, la personne concernée a la faculté de retirer son consentement en effectuant une demande comme indiqué à l’article « Quels sont les droits de nos clients sur les données ? </p>

                <h2 class="text-center my-5">3. A QUI LES DONNEES SONT ELLES TRANSMISES ? </h2>

                <p>
                    Les données sont transmises à des partenaires de GLYF IMMOBILIER France qui peuvent traiter les données pour leur compte (ce sont des destinataires) ou uniquement pour le compte et selon les instructions de GLYF IMMOBILIER France (ce sont des sous-traitants).<br>

                    Les destinataires des données sont :<br>
                    - Les Agences immobilières indépendantes du réseau GLYF IMMOBILIER<br>
                    - Les partenaires commerciaux et notamment des régies marketing et publicitaires.<br>

                    GLYF IMMOBILIER France utilise des sous-traitants pour les opérations suivantes :<br>
                    - La gestion du tchat (Facebook Messenger)<br>
                    - L’hébergement des données et du site<br>
                    - Les opérations de développement et de maintenance technique du site internet et des applicatifs internes.<br>
                    - L’administration de l’infrastructure informatique interne<br>
                    - Le recueil de la satisfaction client<br>
                    - L’expédition des emails et sms de prospection commerciale<br>
                </p>

                <h2 class="text-center my-5">4. QUELS SONT LES DROITS DE NOS CLIENTS SUR LES DONNEES ? </h2>

                <p>
                    <strong>4.1. Quels sont les droits ?</strong><br>
                    En application des articles 14 à 22 du du règlement 2016/679 du 27 avril 2016, toute personne physique utilisant le service a la faculté d’exercer les droits suivants :<br>
                    - Un droits d’accès<br>
                    - Un droit de rectification,<br>
                    - Un droit d’opposition et d’effacement au traitement de ses données<br>
                    - Un droit d’opposition au profilage<br>
                    - Un droit à la limitation du traitement,<br>
                    - Un droit à la portabilité de ses données<br>

                    Par ailleurs, lorsqu’une personne donne son consentement au traitement de ses données à caractère personnel, elle a la faculté de le retirer à tout moment.<br>

                    Enfin, lorsque GLYF IMMOBILIER France détecte une violation de à caractère personnel susceptible d’engendrer un risque élevé pour vos droits et libertés, le client sera informé de cette violation dans les meilleurs délais.<br>

                    <strong>4.2. Comment les exercer ?</strong><br>
                    Ces droits peuvent être exercés directement auprès de l’Agence GLYF IMMOBILIER qui a collecté les données ou auprès de GLYF IMMOBILIER France par voie postale ou électronique. Les coordonnées de l’Agence GLYF IMMOBILIER sont accessibles dans la rubrique mentions légales du site de l’Agence.<br>

                    La demande doit être accompagnée d’un justificatif d’identité.<br>

                    GLYF IMMOBILIER France adresse une réponse dans un délai d’1 mois après l’exercice du droit. Dans certains cas, liés à la complexité de la demande ou du nombre de demande, ce délai peut être prolongé de 2 mois.<br>

                    Pour contacter GLYF IMMOBILIER France par voie électronique, à l’adresse<br>

                    Pour contacter GLYF IMMOBILIER France par voie postale, à l’adresse GLYF IMMOBILIER France, 3 rue des Cévennes, Petite Montagne Sud 91090 Lisses<br>

                    <strong>4.3. Que faire ensuite ?</strong><br>
                    En cas de non réponse ou de réponse non satisfaisante, la personne concernée a la faculté de saisir l’autorité de protection des données, à savoir la CNIL.<br>
                </p>

                <h2 class="text-center my-5">5. QUE DEVIENNENT LES DONNEES APRES LE DECES ? </h2>

                <p>
                    L’Utilisateur peut formuler des directives relatives à la conservation, à l'effacement et à la communication de ses données à caractère personnel après son décès conformément à l’article 40-1 de la loi 78-17 du 6 janvier 1978. Ces directives peuvent être générales ou particulières.<br>

                    L’Utilisateur peut formuler ses directives anticipées à l’adresse : service.client@glyfimmo.com
                </p>

                <h2 class="text-center my-5">6. LES DONNEES SONT-ELLE ENVOYEES HORS DE L’UE ? </h2>

                <p>
                    Le client est informé que des données à caractère personnel le concernant peuvent être transmises pour l’accomplissement des finalités définies ci-dessus à des sociétés situées dans des pays hors de l’Union Européenne.<br>

                    Préalablement au transfert hors Union Européenne, et conformément à la règlementation en vigueur, GLYF IMMOBILIER France met en œuvre toutes les procédures requises pour obtenir les garanties nécessaires à la sécurisation de tels transferts.<br>

                    Des transferts hors Union Européenne peuvent être réalisés notamment dans le cadre des activités suivantes :<br>
                    <strong>Activité</strong><br>

                    Exploitation des données vers les réseaux sociaux<br>

                    <strong>Pays de destination des données</strong><br>

                    Etats-Unis<br>

                    <strong>Encadrement du transfert de données</strong><br>

                    Privacy Shield / Clauses contractuelles types<br>
                </p>

                <h2 class="text-center my-5">7. COMBIEN DE TEMPS LES DONNEES SONT-ELLES CONSERVEES ? </h2>

                <p>
                    GLYF IMMOBILIER France a déterminé des règles précises concernant la durée de conservation des données à caractère personnel des Utilisateurs.<br>

                    Pour calculer la durée de conservation la plus pertinente, GLYF IMMOBILIER France distingue :<br>

                    - les personnes dites «prospect» et n’ayant jamais sollicité ou contracté avec GLYF IMMOBILIER<br>
                    - les personnes dites « clients » ayant déjà sollicité GLYF IMMOBILIER ou ayant contracté avec la marque<br>

                    Une durée de conservation distincte sera appliquée aux prospects et aux clients.<br>

                    Concernant les prospects, le point de départ de la durée de conservation est la création du compte<br>

                    Concernant les clients, le point de départ de la durée de conservation constitue le dernier contrat signé avec GLYF IMMOBILIER.<br>

                    Les données à caractère personnel sont conservées pendant la durée nécessaire à l’accomplissement des finalités identifiées.<br>
                </p>

                <h2 class="text-center my-5">8. DES DONNEES SUR LES MINEURS DE MOINS DE 16 ANS SONT-ELLES COLLECTEES ?  </h2>
                <p>
                    L’utilisation du site GLYF IMMOBILIER nécessite d’être âgé d’au moins 16 ans. Les mineurs de moins de 16 ans ne doivent pas communiquer de données sur le site GLYF IMMOBILIER.<br>

                    Il est impossible pour GLYF IMMOBILIER de déterminer l’âge de l’internaute. Néanmoins si nous identifions qu’une donnée personnelle d’un mineur de moins de 16 ans a été collectée sur le site, elle sera supprimée par GLYF IMMOBILIER.<br>
                </p>

                <h2 class="text-center my-5">9. EST-CE QUE GLYF IMMOBILIER EFFECTUE DES SOLLICITATIONS COMMERCIALES ? </h2>

                <p>
                    <strong>9.1. Principes applicables à GLYF IMMOBILIER</strong><br>
                    GLYF IMMOBILIER utilise les coordonnées pour adresser des publicités ciblées notamment par email, courrier postal, sms, sur les réseaux sociaux ou des sites internet tiers.<br>

                    Dans ce cadre, la société GLYF IMMOBILIER France s’engage à respecter les règles applicables à chaque canal de prospection.<br>

                    <strong>9.2. Prospection par email et sms</strong><br>
                    GLYF IMMOBILIER respecte les règles édictées par la directive 2002/58/CE du 12 juillet 2002 qui prévoit le recueil préalable express du consentement de l’Utilisateur pour l’envoi de prospection commerciale par voie électronique (e-mail ou SMS).<br>

                    Ainsi, lors de la création d’un compte sur le site, il est expressément demandé le consentement pour recevoir la newsletter GLYF IMMOBILIER.<br>

                    Par ailleurs, l’internaute a la possibilité de s’abonner à des alertes emails concernant certains biens ou types de biens immobilier.<br>

                    GLYF IMMOBILIER n’adressera pas de sollicitations personnalisées par email ou sms si vous n’y avez pas consenti.<br>

                    Il existe une exception dans l’hypothèse où l’Utilisateur, sans avoir donné son consentement préalable, peut cependant être démarché dès lors qu’il est déjà client de la société GLYF IMMOBILIER et que l’objet de la prospection est de proposer des produits ou services analogues.<br>

                    Dans tous les cas, l’utilisateur a la possibilité de s’opposer à la réception de ces sollicitions en effectuant les actions suivantes :<br>
                    - Pour l’email, en cliquant sur le lien de désabonnement prévu dans chaque email ;<br>
                    - Pour le sms, en envoyant un stop SMS au numéro indiqué dans celui-ci ;<br>
                    - En contactant l’agence GLYF IMMOBILIER<br>
                    - En contactant le Service Client.<br>

                    <strong>9.3. Prospection commerciale par téléphone<br></strong>
                    GLYF IMMOBILIER a la possibilité de contacter par téléphone pour proposer des offres sur des produits ou services. Si le client ne souhaite pas être sollicité, il a la possibilité de s’inscrire sur la liste d’opposition au démarchage téléphonique accessible sur le site www.bloctel.gouv.fr<br>
                </p>

                <h2 class="text-center my-5">10. EST-CE QUE GLYF IMMOBILIER UTILISE DES COOKIES, TAGS ET TRACEURS ? </h2>

                <p>

                    Lors de l’utilisation de notre Service, des informations relatives à la navigation du terminal (ordinateur, tablette, smartphone, etc.), sont susceptibles d'être enregistrées dans des fichiers "Cookies" déposés sur le terminal, sous réserve des choix exprimés concernant les Cookies et qui peuvent être modifiés à tout moment.<br>

                <strong>10.1. QU’EST-CE QU’UN COOKIE ?</strong><br>
                    Le terme cookie englobe plusieurs technologies permettant d’opérer un suivi de navigation ou une analyse comportementale de l’internaute. Ces technologies sont multiples et en constante évolution. Il existe notamment, les cookies, tag, pixel, code Javascript.<br>

                    Le cookie est un petit fichier texte enregistré par le navigateur de votre ordinateur, tablette ou smartphone et qui permet de conserver des données utilisateur afin de faciliter la navigation et de permettre certaines fonctionnalités.<br>

                    Il existe deux types de cookies :<br>
                    • les cookies first party, déposés par GLYF IMMOBILIER pour les besoins de la navigation et du fonctionnement du site ;<br>
                    • des cookies third party déposés par des sociétés partenaires tierces afin d’identifier les centres d’intérêt et d’adresser des offres personnalisées. Ces cookies third party sont directement gérés par les sociétés qui les éditent et qui doivent également respecter la règlementation sur la protection des données.<br>

                    <strong>10.2. POUR QUELLES RAISONS DES COOKIES, TAGS ET TRACEURS SONT-ILS UTILISES ?<br></strong>
                    Les Cookies que GLYF IMMOBILIER émet sur le site et l’application mobile nous permettent :<br>

                    - d'établir des statistiques et volumes de fréquentation et d'utilisation des diverses éléments composant nos services. A ce titre, nous avons recours à des cookies de mesure d’audience.<br>
                    - d'adapter la présentation de notre Site selon le terminal utilisé;<br>
                    - de permettre à l’internaute d'accéder à des espaces réservés et personnels de notre Site, tels que le compte, grâce à des identifiants ;<br>
                    - partager des informations avec des annonceurs sur d’autres sites internet pour proposer des annonces publicitaires pertinentes et en adéquation avec les centres d’intérêts de l’internaute. A ce titre, nous avons recours à des cookies publicitaires.<br>
                    - partager des informations sur les réseaux sociaux. A ce titre, nous avons recours à des cookies permettant de partager sur ces réseaux.<br>

                    <strong>10.3. COMMENT PARAMETRER LE DEPOT DES COOKIES, TAGS ET TRACEURS ?</strong><br>
                    Conformément à la directive 2002/58/CE du 12 juillet 2002, la société GLYF IMMOBILIER France recueille le consentement préalable au dépôt des cookies publicitaires, de mesure d’audience et de partage vers les réseaux sociaux.<br>

                    L’internaute peut faire le choix à tout moment d'exprimer et de modifier ses souhaits en matière de cookies, par les moyens décrits ci-dessous.<br>

                    <strong>10.3.1. Paramétrage du logiciel de navigation</strong><br>

                    L’internaute peut configurer son logiciel de navigation de manière à ce que des cookies soient enregistrés dans son terminal ou, au contraire, qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur. Il peut également configurer son logiciel de navigation de manière à ce que l'acceptation ou le refus des cookies lui soient proposés ponctuellement, avant qu'un cookie soit susceptible d'être enregistré dans son terminal.<br>

                    Comment exercer son choix, selon le navigateur utilisé ?<br>
                    Pour la gestion des cookies et du choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d'aide du navigateur, qui permettra de savoir de quelle manière modifier son souhait en matière de cookies.<br>
                    Pour Internet Explorer™ : http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies,<br>
                    Pour Safari™ : https://support.apple.com/fr-fr/guide/safari/sfri11471/mac,<br>
                    Pour Chrome™ : http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647,<br>
                    Pour Firefox™ : http://support.mozilla.org/fr/kb/Activer%20et%20d%C3%A9sactiver%20les%20cookies,<br>
                    Pour Opera™ : http://help.opera.com/Windows/10.20/fr/cookies.html<br>

                    <strong>10.3.2. Paramétrage du système d’exploitation de votre smartphone</strong><br>

                    Il est possible de contrôler le dépôt des Cookies sur un smartphone dans les règles du système d’exploitation.<br>
                    Sur iOS : https://support.apple.com/fr-fr/HT201265<br>
                    Sur Android : https://support.google.com/chrome/topic/3434352<br>

                    <strong>10.3.3. Paramétrage des cookies avec un outil proposé par GLYF IMMOBILIER France</strong><br>

                    Afin de se conformer à la règlementation, GLYF IMMOBILIER France utilise un outil permettant à l’internaute de paramètrer le dépôt des cookies lors de sa connexion sur le site www.GLYF IMMOBILIER.fr
                    Afficher le gestionnaire de cookies<br>

                    <strong>10.3.4. Liste d’opposition permettant de gérer le dépôt des cookies</strong><br>

                    L’internaute a également la possibilité de s’opposer au dépôt des cookies en accédant au site internet http://www.youronlinechoices.com/fr/controler-ses-cookies/.<br>
                </p>

                <h2 class="text-center my-5">11. LE DÉLÉGUÉ A LA PROTECTION DES DONNEES DE GLYF IMMOBILIER </h2>

                <p>
                    Le délégué à la protection des données nommé au sein de GLYF IMMOBILIER France a pour mission de veiller au respect de la réglementation et des règles décrites dans le présent document.<br>
                    Il est possible de le contacter à l’adresse mail : dpo@glyfimmo.fr
                </p>

            </div>

        </div>

    </div>

{% endblock %}