{% extends 'base.html.twig' %}

{% block title %}Protection des données{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col">
            <h1 class="text-center my-5">Mentions légales</h1>

            <p>Le présent site est édité par  GLYF IMMOBILIER France, SAS au capital de 1 838 601 €, dont le siège social est situé 3 rue des Cévennes - Petite Montagne Sud 91090 Lisses, SIREN 339 510 695 RCS EVRY  Tel 01.69.11.12.21.</p>
            <div class="container">
            <div class="row">
                <strong>Responsables de la search bar & des propiétés :</strong>
                <ul>
                    <li>Yann Yver</li>
                    <li>Gilles Da Silva Santos</li>
                </ul>
            </div>
            <div class="row">
                <strong>Responsable de l'administration & des contacts :</strong>
                <ul>
                    <li>Laura Lamassourre</li>
                    <li>Frédérick Vu</li>
                </ul>
            </div>
            </div>
            <h4 class="text-center my-4">Informations relatives à l'hébergeur</h4>
            Naxos SAS, 20, rue Troyon 92310 Sèvres, SIREN 392 913 661 RCS NANTERRE Tel 01 55 95 45 00<br>
            <h4 class="text-center my-4">Recommandations pour la visualisation</h4>
            <p><strong>Informations techniques :</strong></p>
            <p>Accessibilité au site 24 heures sur 24 et 7 jours sur 7 sauf cas de force majeure, difficultés informatiques, difficultés liées à la structure des réseaux de communication ou difficulté d'ordre technique. Interruption possible à tout moment du site pour des raisons de maintenance.</p>
            <h4 class="text-center my-4">Avertissement :</h4>
            <p><strong>1/ Informations</strong></p>
            <p>GLYF IMMOBILIER France fait les meilleurs efforts pour assurer l'exactitude de l'ensemble des informations mises à la disposition des visiteurs sur glyfimmo.fr, exactitude qu'elle ne peut cependant garantir, l'internaute étant invité à utiliser ces informations avec discernement et esprit critique. Les informations signalées comme contenant des inexactitudes juridiques, techniques, des erreurs typographiques ou comme étant incomplètes feront l'objet d'un traitement sans délais par GLYF IMMOBILIER France.</p>

            <p>Pour ce faire, vous pouvez contacter notre Service Client, remplissez le formulaire de contact ici.</p>


            <p><strong>2/ Biens immobiliers</strong></p>
            Les informations contenues dans le descriptif des biens à louer ou à vendre sont fournies par les agences membres du Réseau GLYF IMMOBILIER Chaque agence est juridiquement et financièrement indépendante et vous communique ces informations sous sa  seule et entière responsabilité.  La profession d'agent immobilier est régie par la loi 70-9 du 2 janvier 1970 dite Loi HOGUET.<br>
            La société GLYF IMMOBILIER France ne saurait en conséquence être tenue pour responsable à quelque titre que ce soit du fait de l'inexactitude que pourraient contenir les informations relatives aux biens à louer ou à vendre figurant sur le présent site.
            <p><strong>3/ Services Complémentaires</strong></p>
            <p>Les partenaires présentés sur le site sont reconnus pour la qualité de leur offre et de leurs services, qualité que GLYF IMMOBILIER France, société juridiquement indépendante, ne peut toutefois garantir.<br>
            GLYF IMMOBILIER France ne pourra être tenue responsable, à raison de la présentation des services de ses partenaires sur le présent site, services qu'elle ne propose pas à la vente, ou à raison d'un quelconque manquement desdits partenaires à leurs obligations dans le cas où un internaute aurait décidé de recourir à leurs services, tout internaute étant invité à se renseigner plus amplement avant de recourir aux services desdits partenaires.<br>
                En cas de litige avec un professionnel du réseau GLYF IMMOBILIER relatif à l'exécution d'un contrat de vente ou de prestation de services, le consommateur est informé qu'il peut recourir à un médiateur, dont les coordonnées sont disponibles dans la page "mentions légales" du site internet de l'agence avec laquelle il est contractuellement lié.</p>
            <p><strong>4/ Liens</strong></p>
            <p>Certains liens hypertextes présents sur le site glyfimmo.fr vous dirigent vers des sites édités par des tiers. L'existence d'un lien du présent site vers d'autres sites ne constitue pas une validation par GLYF IMMOBILIER France de ces sites ou de leur contenu. Il appartient à l'internaute d'utiliser les informations contenues dans ces sites avec discernement et esprit critique. La société GLYF IMMOBILIER France ne pourra être tenue responsable à raison du contenu de ces sites ou à raison de leur référencement. Elle ne pourra pas plus être tenue pour responsable d'un défaut d'accès ou de fonctionnement de ces sites, leur accès technique comme leur bon fonctionnement n'étant pas garantis.</p>
            <h4 class="text-center my-4">Mentions Légales :</h4>
            <p>Si l'utilisateur demande des informations sur les annonces et services immobiliers, sa demande sera traitée par l'agence GLYF IMMOBILIER dont il dépend géographiquement ou dont il est déjà client ou par l'agence mandatée pour la vente ou la location du bien objet de l'annonce.</p>

            <p>Si l'utilisateur demande des informations autres que sur les annonces et services immobiliers (ex : Rubrique « Contacts - service client »...) sa demande sera traitée par GLYF IMMOBILIER France, siège social ou par l'agence du Réseau GLYF IMMOBILIER concernée par sa demande.</p>

            <p>Si l'utilisateur dépose sa candidature sur le site lesmeilleurstalents.com, site de recrutement de la marque GLYF IMMOBILIER, sa candidature sera traitée par l'agence concernée.</p>

            <p>Les informations nominatives communiquées aux agences par les utilisateurs du site du Réseau GLYF IMMOBILIER par l'intermédiaire des formulaires ou par les questionnaires mis en ligne renseignés par les utilisateurs sont uniquement envoyées aux agences destinataires. Elles ne sont communiquées qu'à des tiers autorisés, pour satisfaire à des obligations légales et réglementaires.</p>

            <p>Le titulaire dispose d'un droit d'accès, de modification, de rectification et de suppression pour toute information le concernant auprès de l'agence qui traite les informations qu'il a communiquées.</p>

            <p>Si l'utilisateur communique son adresse électronique ou son numéro de fax, l'agence sera conduite à solliciter son consentement exprès et préalable à recevoir par courrier électronique ou par fax des informations commerciales et publicitaires  concernant les produits et services de l'agence.</p>

            <p>Si l'utilisateur communique son numéro de téléphone ou son adresse postale, l'agence peut être conduite à lui proposer par téléphone ou par courrier postal des informations commerciales et publicitaires concernant les produits et services de l'agence. L'utilisateur a la possibilité de s'y opposer en adressant un courrier auprès de l'agence qui a collecté les données communiquées par l'utilisateur.</p>
            <p><strong>Adresses IP</strong></p>
            <p>Nous collectons les adresses IP des internautes qui visitent notre site à des fins de statistiques et en cas d'abus, afin de répondre aux demandes d'informations des autorités compétentes.</p>
            <p><strong>Propriété intellectuelle</strong></p>
            <p>L'intégralité du contenu (textes, images, données, graphiques, bandes sonores,...) et la forme du présent site relève de la législation internationale sur le droit d'auteur, le droit des marques et, de façon générale, sur la propriété intellectuelle, et sont la propriété exclusive de GLYF IMMOBILIER France.<br>
            Toute reproduction, représentation ou diffusion, totale ou partielle des pages, données ou de tout autre élément du présent site internet sur quelque support et par quelque procédé que ce soit, sans l'autorisation expresse de GLYF IMMOBILIER France est interdite. Le non-respect de cette interdiction constitue une contrefaçon susceptible d'engager la responsabilité civile et pénale du contrefacteur.
                Il est strictement interdit d'utiliser ou de reproduire le nom GLYF IMMOBILIER ou son logo, seuls ou associés, à quelque titre que ce soit, notamment à des fins publicitaires, sans l'accord préalable écrit de GLYF IMMOBILIER France.</p>
            <p><strong>Loi applicable :</strong></p>
            <p>Le contenu du présent site est soumis au droit français. GLYF IMMOBILIER France se réserve le droit à tout moment d'en modifier tout ou partie du contenu. Tout litige concernant son contenu comme son utilisation et les recours susceptibles d'en découler est soumis à la compétence exclusive des tribunaux français.</p>



        </div>
    </div>
</div>
{% endblock %}