<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({{ asset('images/hero_1.jpg') }});" data-aos="fade">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5 mx-auto mt-lg-5 text-center">
                <p class="quote"><blockquote>Le plus grand secret pour le bonheur, c'est d'être bien chez soi.<footer>Joseph Joubert,<cite>Les carnets et textes recueillis (1938)</cite></footer></blockquote></p>
                <a href="{{ path('search') }}" class="btn btn-large waves-effect waves-light light darken">Recherche</a>
            </div>
        </div>
    </div>
</div>