{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}

    <div class="container site-section">
    <div class="row center">
        <h1>Recherchez votre futur logement</h1>
    </div>
    <div class="alert alert-secondary" role="alert">
        {{ form(search_form) }}
    </div>


</div>
{% endblock %}
