{% extends 'base.html.twig' %}
    {% block title %}Bien Immobilier!{% endblock %}

    {% block body %}
        {% include 'incs/background_header.html.twig' %}
            {% block stylesheets %}
                <style>
                    .grid{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 20px;
                    }
                </style>

            {% endblock %}
            <div class="container">
                <div class="row justify-content-center mt-3">
                    <div class="col-md-3 text-center">
                        <h2>Votre recherche</h2>
                        {{ form(searchForm) }}

                    </div>
                    <div class="col-md-9">
                        <div class="grid">
                            {% for result in results %}
                            <div class="card mt-3">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold">{{ result.title }}</h5>
                                    <p class="card-text">{{ result.city }}</p>
                                    <div class="text-secondary font-weight-bold">{{ result.price }} €</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}


