{% extends 'base.html.twig' %}
    {% block title %}Bien Immobilier!{% endblock %}

    {% block body %}
        {% include 'incs/background_header.html.twig' %}
            {% block stylesheets %}
                <style>
                    .grid{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 20px;
                    }
                </style>

            {% endblock %}
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-3 text-center">
                        <h2>Votre recherche</h2>
                        {{ form(searchForm) }}

                    </div>
                    <div class="col-md-9">
                        <div class="grid">

                        </div>
                    </div>
                </div>
            </div>
{% endblock %}


