{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block user_menu %}
    {% if _user_has_logout or _user_is_impersonated %}
        <div class="popover-content-section user-menu">
            {% if _user_has_logout %}
                <a class="user-action user-action-logout" href="{{ _logout_path }}">{{ 'user.signout'|trans(domain = 'EasyAdminBundle') }}</a>
            {% endif %}
            {% if _user_is_impersonated %}
                <a class="user-action user-action-exit-impersonation" href="?_switch_user=_exit">{{ 'user.exit_impersonation'|trans(domain = 'EasyAdminBundle') }}</a>
            {% endif %}
            <a class="user-action user-action-exit-impersonation" href="{{ path('home') }}">Accueil</a>
        </div>
    {% endif %}
{% endblock user_menu %}